/* Общие стили */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #121212; 

    /* ДЛЯ ФУТЕРА */
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* ДЛЯ ФУТЕРА */
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Общие стили */


/* Фиксированная шапка */
.main-menu-nice {
    display: flex;
}

.main-menu {
    position: absolute;
    top: 0;
    width: 100%;
    background-image: radial-gradient( #00c6ff,  #0072ff, #004e92);
    box-shadow: 5px 5px 15px rgba(119, 119, 119, 0.9);
    padding: 20px 0;
    z-index: 1000; 

    /* ЧТО БЫ DIV НЕ ПРОВАЛИВАЛСЯ */
    height: 100px;
}

.main-menu .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    max-width: 70%;
    margin-left: 300px;
    margin-right: 300px;
    padding: 0 20px;
}

.main-menu .header-content img {
    height: 60px;
    position: static;
    transform: none;
    margin: 0;
    transform: scale(1.3);
}

/* .logo {
    margin: 0 100px;
} */

/* ВХОД РЕГИСТРАЦИЯ ШАПКА */
.login-mainheader {
    margin-right: -250px;
}

.login-header a {
    text-decoration: none;
    color: #fff;

    /* margin-right: -250px; */
    position: relative;
    display: flex;
    justify-content: flex-end;

    font-weight: bold;
    padding: 4px 5px;
    z-index: 1;
    transition: transform 0.4s ease-out, color 0.4s ease-out;
    /* letter-spacing: 0.5px; */
}

.login-header_1 {
    border: 2px solid #fff;
    border-top: none;
    border-left: none;
    border-right: none;
}


.login-header a:hover {
    /* transform: translateY(-3px); */
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 188, 212, 0.5);
}

.login-header a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-image: radial-gradient(circle, #2196f3, #0d47a1);
    border-radius: 10px;
    z-index: -1;
    transition: width 0.4s ease-out;
    opacity: 0.7;
}

.login-header a:hover::after{
    width: 100%;
}
/* ВХОД РЕГИСТРАЦИЯ ШАПКА */
/* Фиксированная шапка */


/* ----- НАВИГАЦИЯ ---- */
.nav-container {
    display: flex;
    gap: 50px; /* Расстояние между левой и правой навигацией */
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
    gap: 50px; /* Расстояние между ссылками */
}


/* ЦВЕТ НАВИГАЦИИ */
.nav-left a,
.nav-right a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    position: relative;
    z-index: 1;
    transition: transform 0.4s ease-out, color 0.4s ease-out;
    letter-spacing: 0.5px;
}
/* ЦВЕТ НАВИГАЦИИ */

.nav-left a:hover,
.nav-right a:hover {
    transform: translateY(-3px);
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 188, 212, 0.5);
}

.nav-left a::after,
.nav-right a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-image: radial-gradient(circle, #2196f3, #0d47a1);
    border-radius: 10px;
    z-index: -1;
    transition: width 0.4s ease-out;
    opacity: 0.7;
}

.nav-left a:hover::after,
.nav-right a:hover::after {
    width: 100%;
}
/* ----- НАВИГАЦИЯ ---- */




/* ---- MAIN ---- */

main {
    flex: 1 0  auto;

    /* ЧТО БЫ DIV НЕ ПРОВАЛИВАЛСЯ */
    padding-top: 100px;
}



/* НАДПИСЬ ГЛАВНАЯ */
.text-contacts {
    padding: 16px 20px;
    margin-left: 90px;
    margin-top: 50px;
    top: 0;
    left: 0;

    position: absolute;
    text-decoration: none;
    z-index: 2;

    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    display: inline-block;
}

.text-contacts::before {
  content: ''; 
  position: absolute;
  left: 0;
  top: 1px;
  bottom: 1px;
  width: 8px;
  background-color: #0072ff; 
  border-radius: 3px; 
} 

.section-contact {
    display: flex;
    flex-direction: column;
}
/* НАДПИСЬ ГЛАВНАЯ */



.hero-section {
    position: relative;
    width: 100%;
    min-height: 110vh; /* Занимает всю высоту видимой области */
    display: flex;
    align-items: center; /* Центрируем контент вертикально */
    justify-content: center; /* Центрируем контент горизонтально */
    text-align: start;
    overflow: hidden; /* Чтобы фон не вылезал за пределы */
    z-index: 1; /* Поверх body, но ниже некоторых элементов */
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url(../photo/fone2.jpg); /* Путь к вашему фоновому изображению */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Фон будет оставаться на месте при прокрутке */
    filter: brightness(0.7) blur(0px); /* Затемняем и слегка размываем фон */
    z-index: -1; /* Помещаем его позади контента */
}

.hero-content {
    position: relative;
    z-index: 1; /* Контент над фоном */
    max-width: 1200px; /* Ограничиваем ширину контента */
    padding: 20px;
}

.text-container {
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный черный фон для текста */
    padding: 40px 50px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px); /* Эффект размытия фона за текстом */
    display: inline-block; /* Чтобы фон адаптировался к контенту */
}

.button-rgutis {
    display: flex;
    justify-content: center;
}

.button-color {
    display: inline-block;
    color: #fff;
    padding: 15px;

    background-color: #1A1A1A;
    box-shadow: 5px 5px 15px rgba(119, 119, 119, 0.9);
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.3s ease-out;
}

.button-color:hover {
    transform: translateY(-8px);
}

.button-rgutis-link {
    text-decoration: none;
    color: #fff;
}

.hero-section h1 {
    font-size: clamp(2em, 2.5vw, 3.5em); /* Адаптивный размер шрифта */
    margin-bottom: 30px;
    color: #e0e0e0;
    text-align: center;
    /* text-shadow: 0 0 15px rgba(3, 64, 179, 0); Некое свечение */
}

.hero-section p {
    font-size: clamp(1em, 2.5vw, 1.2em); /* Адаптивный размер шрифта */
    line-height: 1.7;
    margin-bottom: 25px;
    color: #e0e0e0;
    opacity: 0.95;
}

.hero-section p:last-child {
    margin-bottom: 0; /* Убираем нижний отступ у последнего параграфа */
}

.line-content_3 {
    display: flex;
    justify-content: center;
}

.block-line_3 {
    border: none;
    height: 6px;

    margin-top: 2px;
    width: 100%;
    background: linear-gradient(#00c6ff, #004e92, transparent 70%);
}

/* ---- ДРУГИЕ СЕКЦИИ ---- */
.content-section {
    background-color: #1A1A1A; /* Более темный фон для других секций */
    padding: 50px 20px; /* Большой отступ сверху и снизу */
    /* text-align: center; */
    position: relative;
    z-index: 1;
}

.button-profesi-link {
    text-decoration: none;
    color: #fff;
}

.button-profesi {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}


.text_one-block {
    display: flex;
    justify-content: center;
}


/* ПЕРВАЯ КАРТОЧКА */
.prof {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 400px);
    grid-template-rows: repeat(1, 440px);
    grid-auto-rows: 200px;
    margin-top: 100px;
    margin-bottom: 70px;
    column-gap: 40px;
    row-gap: 40px;
}

.program {
    border-radius: 30px;
    background-color: #fff;
    color: black;
    width: 100%;
    height: 100%;
}

.program-text a {
    text-decoration: none;
    color: black;

}

.program-link {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #0072ff;
}

.program-text {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.program-text a:hover {
    color: #0072ff;
}

.program-text:hover {
    transform: translateY(-5px);
}
.img {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
}

.program-points {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.program-points span {
    display: flex;
    margin-right: 20px;
}

.program-points-main {
    margin-top: 20px;
}

.program-inner {
    display: block;
    margin-left: 20px;
}
/* ПЕРВАЯ КАРТОЧКА */



.text-block_2 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 1.3em;
}

.button-obrat-link {
    text-decoration: none;
    color: #fff;
}

.button-obrat {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.text-cabinet_1 {
    display: flex;
    justify-content: center;

}

.text-cabinet_2 {
    display: flex;
    text-align: center;
    font-size: 1.3em;
    margin-top: 20px;
}

.button-login {
    display: flex;
    justify-content: center;

    gap: 40px;
    margin-top: 60px;
}

.button-login a {
    text-decoration: none;
    color: #fff;

    
    transition: transform 0.4s ease-out, color 0.4s ease-out;
    background-image: radial-gradient(circle, #2196f3, #0d47a1);
    border-radius: 30px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}



.button-login a:hover {
    transform: translateY(-3px);
}


/* КАРТА С ПОЛОСКОЙ */
.map {
    /* margin-top: 150px; */
    background-color: #1A1A1A;
}

.theme_dark_map {
    filter: invert(0.9) hue-rotate(180deg) brightness(0.8) contrast(1.2);
}

.block-line_2 {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
}

.line {
    display: flex;
    width: 100%;
    height: 6px; /* Толщина центральной части */
    background: linear-gradient(#00c6ff, #004e92, transparent 70%);
    border: none;
    /* margin-bottom: 70px; */
    /* margin-left: 18%; */
    margin-top: 100px;
    /* padding: 2px; */
}

.block-line {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    background-color: #1A1A1A;
}

.line-contacts {
    display: flex;
    width: 100%;
    height: 6px; /* Толщина центральной части */
    background: linear-gradient(#00c6ff, #004e92, transparent 70%);
    border: none;
    /* margin-bottom: 70px; */
    /* margin-left: 18%; */
    margin-top: 30px;
    padding: 2px;
}


.text-map_main {
    display: flex;
    position: absolute;
    justify-content: center;
    margin-top: 60px;
    margin-left: 45%;

    background-color: rgba(0.9);
    box-shadow: 5px 5px 15px rgba(119, 119, 119, 0.9);
    border-radius: 30px;
    padding: 15px;
}

.map-text {
    color: #fff;
    font-size: 1.9em;
}

.block_gray {
    background-color: #1A1A1A;
}

.text-photo_2 {
    display: flex;
    justify-content: center;
    background-color: #1A1A1A;
    /* margin-bottom: 10px; */
}

.text-color_2 {
    display: inline-block;
    color: #fff;
    padding: 20px;
    margin-top: 70px;

    background-color: #1A1A1A;
    box-shadow: 5px 5px 15px rgba(119, 119, 119, 0.9);
    border-radius: 30px;
    z-index: 1000;
}

.button-rgutis_5 {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.button-color_5 {
    display: inline-block;
    color: #fff;
    padding: 15px;

    background-color: #1A1A1A;
    box-shadow: 5px 5px 15px rgba(119, 119, 119, 0.9);
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.3s ease-out;
}

.button-color_5:hover {
    transform: translateY(-8px);
}

.button-rgutis-link_5 {
    text-decoration: none;
    color: #fff;
}
/* КАРТА С ПОЛОСКОЙ */


/* Футер */
.footer {
    background-color: #101010; /* Очень темный фон для футера */
    color: #bbb;
    padding: 20px 30px;
    text-align: center;
    border-top: 4px solid #0d47a1;
    position: relative;
    z-index: 1;
    flex-shrink: 0;
}

.footer p {
    font-size: 0.9em;
    margin: 0;
    opacity: 0.8;
}


/* Для экранов меньше 768px */
/* @media (max-width: 768px) {
  .main-menu,
  .header-content {
    flex-direction: column; 
    display: flex;

  }
} */





